body{
background-image: linear-gradient(rgb(25, 25, 58),rgb(0, 0, 5));
background-repeat: no-repeat;
background-attachment: fixed;
color: white;
margin:0%;
}

#sticky-head{
    display: flex;
    text-align:center;
    justify-content: space-around;
    background:rgb(16, 6, 50);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 2%;
    
}

.sticky-btn{
    background-color:transparent;
    color: rgb(19, 183, 128);
    padding: 0%;
    margin: 0px;
    border: 0cap;
    font-size: 20px;
    font-weight: 400;
    transition: transform 0.15s ease-in-out;

}

.sticky-btn:hover{
    color: aliceblue;
    text-shadow: 0 0 8px rgba(255,255,255,0.7);
    transform:scale(1.05);

}


#pfp{
   
   display: block;
   margin: 0 auto;
   width: 25vw;
   height: 30vw;
   border-radius: 50%;
   object-fit: cover;
   box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

#header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 16px;
    padding: 12%  10% ;


}
#title{
    font-size: 4.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#What-I-do {
  position: relative;           
  background-image: url('imgs/WhatIdo.jpg');
  background-size: cover;
  background-position: center;
  padding: 5% 10% ;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
  color: rgb(250, 251, 251); 
  border-image: linear-gradient(hsla(216, 93%, 16%, 0.3),hsla(0, 0%, 0%, 0.3))  fill 1;
}



#grid-container{
display: grid;
grid-template-columns: repeat(2,auto);
grid-template-rows:repeat(2,auto) ;
gap: 50px;
justify-content:center;
width: max-content;
margin: 46px;
z-index: 10;
}

.grids{
border-top: solid 3px white;
border-left: solid 3px white;
padding: 2.5%;
}


h1{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: xx-large;
    font-weight: bolder;
}

#Work{
  background-image: url(/imgs/experience.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;           
  padding: 5% 10% ;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
  color: rgb(250, 251, 251); 
  border-image: linear-gradient(hsla(216, 93%, 16%, 0.3),hsla(0, 0%, 0%, 0.3))  fill 1;


}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 90px;
}
#Work-timeline{
    padding: 50px 25px;
    margin: 0%;
    background-image: url(/imgs/experience.jpg);
    background-size: cover;
    background-position: center;
}

#timeline-content{
    position: relative;
    margin: 0px;
    padding: 5%;
    display: flex;
    flex-direction: column;


}

#timeline-content::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: aliceblue;
}



.exp-container{
        background-color: rgb(0, 4, 36);
        width: 40%;
        position: relative;
        margin: 10px 0px 10px 50px;
        border: solid 8px black;
        border-radius: 8px;
        


}
.textbox{
   padding: 20px 30px;
    background-color: aliceblue;
    position: relative;
    color: black;
    font-size: 15px;
    margin:2.5%;

}

.left-container{
    left:0px;
}

.right-container{
    left: 58%;
}

.exp-container img{
    position: absolute;
    width: 40%;
    border-radius: 50%;
    right: -20px;
    top: -5px;
    z-index: 10;
    width: 70px;
    height:70px ;
}

.right-container img{
    left: -40px;
}

#get-in-touch {
  background-image: linear-gradient(rgba(0,0,0,0.7), #262c45), url('imgs/contactform.jpg');
  background-position: center;
  background-size: cover;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
}

#get-in-touch h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;

}
#get-in-touch .subtitle {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #ddd;
}


.contact-container {
  background: transparent;
  padding: 50px 40px;
  border-radius: 20px;
  max-width: 700px;
  width: 100%;
  height: 100vh;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  text-align: center;
  color: #fff;
}


#contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #ddd;
}

.input-group {
  text-align: left;
}


input, textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #888;
  border-radius: 10px;
  background: transparent;
  color: #fff;
  font-size: 1rem;
}
input::placeholder,
textarea::placeholder {
  color: #bbb;
}

button {
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: #12035b;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #070200;
}